<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="4.5.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.4.0.54" targetFramework="net472" />
  <package id="Syncfusion.SfColorPalette.WPF" version="20.4.0.54" targetFramework="net472" />
  <package id="Syncfusion.SfRadialMenu.WPF" version="20.4.0.54" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="20.4.0.54" targetFramework="net472" />
</packages>